
/*@media screen and (min-width:768px) {
.navbar-nav {
    float:none;
    text-align:center;
}
.navbar-nav li {
    display:inline-block;
    float:none;
}
}
*/

    .main_header  {
        background-image: url(../pictures/pic3.jpg);
        width:100%;
        height:100px;
        background-position: center;
        background-repeat: repeat-x;
    
    }

    .main_footer {
        background-image: url(../pictures/pic3.jpg);
        width:100%;
        height:100px;
        background-position: center;
        background-repeat: repeat-x;
    }

    main {
        padding-top:50px;
    }
    

@media screen and (max-width:768px){
    aside{
        display: none;
    }
}
aside ul {
    list-style-type:none;
    padding-left:0px;
}
aside ul li {
    margin-bottom:10px;
    line-height: 1;
}
