

/* main header and footer styling */
// Using Sass variable $bgnd-img
$bgnd-img:url(../pictures/header_footer.jpg);

// Basic class for header and footer 
%header-footer {
 	background-image: $bgnd-img;
    width:100%;
	background-position: center;
    background-repeat: repeat-x;
}

// main_header extends %header-footer with header oriented properties 
.main_header {
	@extend %header-footer;
    height:100px;   
}

// main_footer extends %header-footer with footer oriented properties 
.main_footer {
	@extend %header-footer;
    height:120px;
}



/* Styling text inside header */
.main_header p {
    text-shadow: 2px 2px 6px white;
    font-size:45px;
    letter-spacing: 5px;
    word-spacing: 8px;
    font-weight: bold;
    color:rgba(255, 255, 255, 0.3);;
    vertical-align: middle; 
}



/* Styling text inside header */
.main_footer p {
    text-shadow: 2px 2px 2px white;
    font-size:15px;
    letter-spacing: 2px;
    word-spacing: 4px;
    font-weight: bold;
    color:rgba(255, 255, 255, 0.5);
    line-height:150px;
    padding-bottom:0px;
}



/* main element styling */
main {
    padding-top:100px;
    padding-bottom:50px;
}
    


/* Remove aside from screen when its width less than 768px */
@media screen and (max-width:768px) {
    aside{
        display: none;
    }
}



/* aside links layout */
aside ul {
    list-style-type:none;
    padding-left:0px;
}
aside ul li {
    margin-bottom:10px;
    line-height: 1;
}



/* layout of significant dates section */
.significant_dates li {
    text-align: justify;
    text-justify: inter-word; 
}


/* article styling */
// using Saas nesting for article layout 
article {
	header {
    	text-align:center;
	}
	p {	
		text-align: justify;
		text-justify: inter-word;
		text-indent: 25px;
    	margin-bottom:0;
	}
}



/* section elements styling */
section p:last-child {   
    margin-bottom:20px;
}
section ul li {
	text-align: justify;
	text-justify: inter-word;	
}



/* planet definition section in index.html layout */
#planet_definition li {
	padding-bottom:10px;
	text-align: justify;
	text-justify: inter-word;
}



/* Gallery carousel styling */
#Gallery {
	width:30%;
	margin: auto;
}
.carousel-caption {
    top: 0;
    bottom: auto;
}
.carousel-caption p {
    text-align:center;
}
.carousel-caption h3,p {
    text-align:center;
    text-indent:0;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}